/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 100px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #cdcdcd;
    padding-bottom: calc(env(safe-area-inset-bottom));
}
 
 
/* Custom page CSS
-------------------------------------------------- */
.container .text-muted {
    margin: 20px 0;
}

#h2_comments_post {
	margin-top: 20px;
}